@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #181818;
  overflow: hidden;
}

.container {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: 'Fredoka One', cursive;
  font-size: 90px;
  color: white;
  display: flex;
}

.letter {
  cursor: default;
  display: inline-block;
}
.letter:hover {
  color: #1E88E5;
}

@keyframes rubberband {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.75, 1.25);
  }
  40% {
    transform: scale(1.25, 0.75);
  }
  50% {
    transform: scale(0.85, 1.15);
  }
  60% {
    transform: scale(1.15, 0.85);
  }
  70% {
    transform: scale(0.95, 1.05);
  }
  85% {
    transform: scale(1.05, 0.95);
  }
  95% {
    transform: scale(1);
  }
}

.rubberband {
  animation: rubberband 1s ease-in;
}